#banner {
    margin-top: 50px;
    position: center;
}
#banner img {
    width: 100%;
    height: auto;
}

#banner .contenedor{
    position: absolute;
    text-align: center;
    background: rgba(255,255,255,0.5);
    top:  37%;
    left: 15%;
    color: black;

}

#banner .contenedora{
    text-align: center;
    position: absolute;
    
    
    background: rgba(255,255,255,0.5);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
   
}

#banner h2{
    font-size: 20px;
}

#banner a{
    
    display: block center;
    width: 70px;
    color: black;
    text-decoration: none;
    padding: 3px;
    margin-top: 1px;
    border:none ;
    
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}

@media (min-width:480px){
    #banner h2{
        font-size: 40px;
    }
    #banner a{
        margin-top: 25px;
    }
}

@media (min-width:768px){
    
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img {
        height: auto;
        margin-top: 10px;
    }
}
    @media (min-width:1024px){
    
    
    #banner img {
        height: auto;
        margin-top: -90px;
    }
}

 @media (min-width:1550px){
    
    
    #banner img {
        height: auto;
        margin-top: -130px;
    }
}