@import url(menu.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: sans-serif;
    
}

.formulario{
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}

.formulario__titulo{
   
    margin-top: 0;
    color: rgba(0,0,0,0.7);
    padding:  25px;
    
}

.formulario__input{
    display: block;
    width: 100%;
    font-size: 100%;
}

.formulario__inputa
{
    background: rgba(0,0,0,0.1);
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;

}

.formulario__input{
    background: rgba(0,0,0,0.1);
    padding: 1.0%;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40%;
    
}

.formulario__input:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}

.formulario__input:focus + .formulario__label{
    margin-top: -110px;
}

.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -75px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.formulario__submit{
    border-radius: 3px;
    background: rgba(30, 30, 30, 1.00);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.formulario__submit:hover{
    background: rgb(120, 120, 125);
    color:#fff;
    text-decoration: none;
}
.formulario a{

  background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;


    text-align: center;
    text-decoration: none;
     width: 100%;
    font-size: 1.3em;
}


.fijar{
    margin-top: -110px;
}

.cancel {

    border-radius: 3px;
    background: rgba(30, 30, 30, 1.00);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.cancel:hover{
    background: rgb(120, 120, 125);
    color:#fff;
    text-decoration: none;
}