.carItem{
    height:20%;
    border: 1.0px solid rgba(255, 255, 255, 0.71);
    padding:10px 25px;
    width: 20%;
    margin: auto;
    float: left;
}
.carPic{
    float:left;
    text-align:center
}

.carPic img{
    max-height:100%;
    max-width:100%;
}
.carIntro{
    float:left;
    height:10%;
    width: 30%;
    padding:2.0% 1.0%;
}

.carAmenities{
    float:right;
    width:40%;
    height:50%;
    background: rgba(120, 120, 125, 0.2);
    padding:20px 15px;
    font-size: 20px;
    font-family: Arial;
}

.carIntro span{
    clear:both; 
    font-weight:600; 
    font-size:1.4em; 
    color:#000
}

.carIntro span small{
    font-size:0.6em;
    color: #666;
    padding: 0 0 0 2px;
    font-weight: 500;
}

.caaItem img{
    width:20px; 
    vertical-align:middle;
    margin: 0 4px 0 0;
    height: auto;
}

.caaItem{
    display:block; 
    width:50%; 
    padding:0 10px 8px 10px; 
    font-size:0.8em;
    float: right;
}


.carSummary{
    font-size:0.78em;
    line-height:1.2em;
    padding:10px 10px;
}

.selectCar {
     color: #78787d;
     display: inline-block;
     padding: 0px 20px;
     line-height: 36px;
     border-radius: 3px;
     background: rgba(30, 30, 30, 1.00);
     color: #fff;
     cursor: pointer;
     margin: -10px;
     text-decoration: none;
 }

.selectCar:hover{
    background: rgb(120, 120, 125);
    color:#fff;
    text-decoration: none;
}
