header
{
    width: 100%;
    height: 50px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

header .contenedor
{
    display: table;
}

.rent
{
    color:#ffffff;
    position: relative;
    left: 80px;
    top: 15px;
    font-size: 35px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.rent:hover
{
    text-decoration: none;
    color:#fff;
}

.menus
{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.menus ul
{
    display: flex;
    list-style: none;
    position: fixed;
    right: 50px;
    top: 15px;
}

.menus ul li a
{
    color:#fff;
    text-decoration: none;
    padding: 10px;
}

section
{
    width: 100%;
    margin-bottom: 25px;
}

#banner
{
    margin-top: 50px;
    position: relative;
}

#banner img
{
    width: 100%;
    height: auto;
}

#banner .contenedor
{
    text-align: center;
    position: absolute;
    background: rgba(255,255,255,0.5);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
}

#banner h2
{
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

#bienvenidos
{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

#info
{
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.info-log
{
    margin: 20px;
}

.info-log img
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 7px solid #4a4a4a;
}

#blog article
{
    margin: 10px;
}

#blog .contenedor
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog h3,h4
{
    text-align: center;
}

#blog img
{
    width: 100%;
    margin: 15px;
    max-width: 280px;
}
#copy
{
    text-align: center;
    font-size: 20px;
}

.sociales
{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a
{
    color: #333;
    text-decoration: none;
}

.icon-facebook-squared:before
{
    content:icon;
}

.dowload
{
    color: #0e0e0e;
    text-decoration: none;
}

.dowload:hover
{
    color: #78787d;
    text-decoration: none;
}